:root {
  --primary: #0466c8;
  --secondary: #023e7d;
  --tertiary: #33415c;
  --light: #979dac;
  --dark: #001233;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  background-color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

header {
  background-color: var(--secondary);
  color: var(--light);
  background-size: cover;
  position: sticky;
  position: -webkit-sticky;
  justify-content: space-between;
}

h1 {
  padding: 20px;
}

a {
  text-decoration: none;
  color: var(--light);
}

header nav ul {  
  list-style: none;
  padding: 25px 20px;
}

header nav ul li {  
  font-size: 20px;
  padding: 0px 20px;
  cursor: pointer;
}

.navActive {
  color: var(--dark);
  font-weight:bold
}


main {
  background-color: var(--tertiary);
  color: var(--dark)
}

.about-text {
  padding: 50px;
  max-width: 70%;
}

.photo-me {
  padding: 50px;

}

.photo-me img {
  border-radius: 30%;
  width: 200px;
}

.centered {
  justify-content: center;
}

.portfolio-container {
  justify-content: space-around;
}

.project-container {
  width: 40%;
  padding: 20px;
}

.project-container img {
  width: 100%;
}

footer {
  background-color: var(--secondary);
  color: var(--light);
  font-size: 20px;
}

footer p {
  padding: 20px;
}

footer ul {
  padding: 20px;
  list-style: none;
}

footer li {
  padding: 0px 20px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}